<div class="BasicLayout">
    <nz-layout style="height:100%; min-height: 100vh;">
        <nz-sider
            nzCollapsible
            [(nzCollapsed)]="collapsed"
            [nzTrigger]="null"
            [nzWidth]="256"
            nzBreakpoint="lg"
            (nzCollapsedChange)="handleMenuCollapse($event)"
        >
            <app-sider-menu
                [logo]="logo"
                [menuData]="MenuData"
                [(collapsed)]="collapsed"
            ></app-sider-menu>
        </nz-sider>
        <nz-layout>
            <nz-header style="background: #fff;padding: 0">
                <app-global-header
                    (noticeClear)="handleNoticeClear($event)"
                    (collapse)="handleMenuCollapse($event)"
                    [collapsed]="collapsed"
                    [currentUser]="currentUser"
                    (menuClick)="handleMenuClick($event)"
                    [notices]="notices"
                    [fetchingNotices]="fetchingNotices"
                    (noticeVisibleChange)="handleNoticeVisibleChange($event)"
                ></app-global-header>
            </nz-header>
            <nz-content style="margin: 24px 24px 0;height:100%;">
                <router-outlet></router-outlet>
            </nz-content>
            <nz-footer style="padding: 0">
                <app-global-footer [links]="links"></app-global-footer>
            </nz-footer>
        </nz-layout>
    </nz-layout>
</div>
