<span
    nz-popover
    nzPlacement="bottomRight"
    nzTrigger="click"
    (nzVisibleChange)="onPopupVisibleChange($event)"
    nzOverlayClassName="NoticeIcon"
    [nzContent]="nzContentTemplate"
>
    <span class="noticeButton">
        <nz-badge [nzCount]="count">
            <i nz-icon type="bell" class="icon"></i>
        </nz-badge>
    </span>
    <ng-template #nzContentTemplate>
        <nz-spin [nzSpinning]="loading" [nzDelay]="0">
            <nz-tabset class="tabs" (nzSelectChange)="(onTabChange)">
                <nz-tab
                    *ngFor="let item of dataList"
                    [nzTitle]="
                        item.list && item.list.length > 0
                            ? item.title + '(' + item.list.length + ')'
                            : item.title
                    "
                >
                    <app-notice-list
                        [data]="item.list"
                        [title]="item.title"
                        [locale]="locale"
                        [emptyImage]="item.emptyImage"
                        [emptyText]="item.emptyText"
                        (clear)="onClear(item.title)"
                        (itemClick)="onItemClick($event, item)"
                    ></app-notice-list>
                </nz-tab>
            </nz-tabset>
        </nz-spin>
    </ng-template>
</span>
